ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}

ul li a {
    height: 20rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1em;
    margin: 0.5rem;
    display: flex;
    flex-direction: column ;
    overflow: hidden;
    color: #e72929;
}

li a:hover{
    opacity: 0.9;
}
